.page {
  background-color: #f0f7ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  color: #293241;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 0 2rem;
}

.signin {
  background-color: #f0f7ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  color: #293241;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

header,
main,
footer,
section {
  width: 100%;
  max-width: 70rem;
}
main {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%; // min 780px
  border-collapse: collapse;
  margin: 0 0 2rem 0;

  @media screen and (max-width: 780px) {
    min-width: 300px;
  }

  thead tr {
    background-color: hsla(211, 71%, 53%, 0.781);
    color: #f9f9f9;
    padding: 0 1rem;
    height: 3rem;

    @media screen and (max-width: 780px) {
      td:not(:first-child) {
        display: none;
      }
      td {
        content-visibility: hidden;
      }
      height: 1rem;
    }
  }

  tbody tr {
    background-color: #f0f7ee;
    min-width: 300px;

    &:nth-child(2n) {
      background-color: #e5ede3;
    }

    &:hover {
      filter: brightness(92%);
    }
  }
  tr td {
    padding: 0.5rem 1rem;
  }
}

.btnIcon {
  background-color: transparent;
  border: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.title {
  margin: 1rem 0;
}

.between {
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 250px;
  padding: 130px;
}

@media screen and (max-width: 780px) {
  tbody tr {
    width: 100%;
    background-color: #e5ede3;
  }

  tbody td {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
  }
  .span::before {
    content: attr(data-title);
  }
}
