.navbar {
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-between;

  .button {
    padding: 0.5rem;
    height: 3rem;
    border: 0.125rem solid #db4437;
    border-radius: 0.5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;

    .button-text {
      color: #db4437;
      font-size: 1rem;
      font-weight: 600;
      margin: 0 0.5rem 0;
      transition: all 0.4s ease;
    }

    svg {
      transition: all 0.4s ease;
    }

    &:hover {
      background-color: #db4437;

      .button-text {
        color: #f9f9f9;
      }

      svg {
        fill: #f9f9f9;
      }
    }
  }
}

div.dropdown-menu {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

button.btn-user {
  width: 3rem;
  height: 3rem;
  border: 0;
  border-radius: 1.5rem;
  background-color: silver;
  box-shadow: 0 2px 2px 0px hsl(0, 0%, 60%);
  cursor: pointer;

  svg {
    stroke: #333;
  }
}

div[role="menu"] {
  background-color: #f0f7ee;
  width: 10rem;
  margin-top: 3.5rem;
  padding: 1.5rem 0.5rem 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 10%);

  visibility: hidden;
  position: absolute;
  opacity: 0;

  a.btn-option {
    padding: 0.25rem 0.5rem 0.25rem 0.75rem;
    border: 0.0625rem solid transparent;
    color: #db4437;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
    transition: all 0.4s ease, border 0;

    color: #db4437;
    font-size: 1rem;
    font-weight: 600;

    &:hover {
      /* background-color: #db4437;
      color: #f9f9f9; */
      border: 0.0625rem solid #db4437;
      border-radius: 0.25rem;
    }
  }

  &.visible {
    visibility: visible !important;
    position: absolute;
    opacity: 1;
  }
}
